<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    <title>@ViewBag.Title - Lunary</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @if (Request.IsAuthenticated)
    {
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="containerdiv">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Lunary", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>&nbsp;&nbsp;&nbsp;</li>
                        <li>&nbsp;&nbsp;&nbsp;</li>
                        <li>@Html.ActionLink("Inicio", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Lista dos Pratos", "ListPratos", "Admin")</li>
                        <li>@Html.ActionLink("Adionar Pratos", "Create", "Admin")</li>
                        <li><a href="/Restaurante/Menu/" target="_blank">Menu Virtual</a></li>
                        <li>
                            @using (Html.BeginForm("QR", "QrCode",FormMethod.Post))
                            {
                                <ul class="nav navbar-nav navbar-right">

                                    <li><a href="/QrCode/Qr">QrCode</a></li>
                                </ul>
                            }
                        </li>
                        <li>@Html.ActionLink("Campanhas", "Index", "Campanha")</li>
                    </ul>
                    @using (Html.BeginForm("QrCodeController", "QrCode", FormMethod.Post, new { id = "logoffForm" }))
                    {
                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="#">Olá @User.Identity.Name</a></li>

                            <li><a href="javascript:document.getElementById('logoffForm').submit()">Sair</a></li>
                            <li>&nbsp;&nbsp;&nbsp;</li>
                            <li>&nbsp;&nbsp;&nbsp;</li>
                        </ul>
                    }
                </div>
            </div>

        </div>
    }

        <div class="container body-content">
            @RenderBody()
            <hr />
            
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
