<link href="~/Content/Site.css" rel="stylesheet" />
@model IEnumerable<Projeto_Lunary.Models.Restaurante>
@{
    ViewBag.Title = "Pratos";

}

<h2>Pratos</h2>

<thead>
    <h1>Lunary</h1>
    <p>Cardápio</p>
</thead>





<table class="table">
    <thead>
        <tr>
            <td class="text-center">Id</td>
            <td class="text-center">Prato</td>
            <td class="text-center">Preço</td>
            <td class="text-center">Descrição</td>
            <td class="text-center">Preço Promoção</td>         
            <td class="text-center">Categoria</td>
            <td></td>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">@item.RESTAUID</td>
                <td class="text-center">@item.RESTANOME</td>
                <td class="text-center">R$@item.RESTAPRECO</td>
                <td class="text-center">@item.RESTADESCRICAO</td>
                @if (@item.RESTAPREPROMOCAO != null)
                {
                    <td>
                        R$ @item.RESTAPREPROMOCAO
                    </td>
                }
                else
                {
                    <td> </td>
                }
                <td>@item.RESTACATEGORIA</td>
                <td>
                    @item.imagem
                    @{
                        if (item.imagem != null)
                        {
                            var base64 = Convert.ToBase64String(item.imagem);
                            var imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);
                            <img src='@imgSrc' style="max-width:300px; max-height:300px;" />
                        }
                    }
                </td>


                <td>
                    <a href="/ADM/Editar?id=@item.RESTAUID"><button type="button" class="btn btn-warning">Editar</button></a>
                    <a href="/ADM/Excluir?id=@item.RESTAUID"><button type="button" class="btn btn-danger">Excluir</button></a>

                </td>
            </tr>
        }
    </tbody>



</table>

