@model IEnumerable<Projeto_Lunary.Models.Restaurante>
@{
    ViewBag.Title = "Pratos";
    
}

<head>
    <link href="~/Content/Menu/Menu.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="~/Scripts/Menu/FilterCate.js"></script>
    <link href="~/Content/Menu/Preloader.css" rel="stylesheet" />
    <script src="~/Scripts/Menu/HeartClick.js"></script>
    <link href="~/Content/preco.css" rel="stylesheet" />
    <link href="~/Content/Campanha.css" rel="stylesheet" />
    <link href="~/Content/rank.css" rel="stylesheet"/>
    <link href="~/Content/Menu/Menu.css" rel="stylesheet" />
</head>

<body>
    <!-- PRELOADER! -->
    <div id="preloader">
        <div class="inner">

            <div class="bolas">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="Conteudo">
        <script src="~/Scripts/Menu/ScrollToTop.js"></script>

        <div id="progress">
            <span id="progress-value"><i class="glyphicon glyphicon-arrow-up"></i></span>
        </div>
        <h1 class="titulo">Lunary</h1>
        <p class="subtitulo">Cardápio</p>

        <!-- Carrossel das Campanhas -->
        <form enctype="multipart/form-data">
            <div class="campanhas" enctype="multipart/form-data">
                <ul>
                    @foreach (var item in ViewBag.Campanha)
                    {

                        var imgSrc = "";

                        if (item.CAMFOTO != null)
                        {
                            var base64 = Convert.ToBase64String(item.CAMFOTO);
                            imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

                            <il>
                                <img class="img3" src="@imgSrc" alt="" height="250px" width="400px"></img>
                            </il>
                        }
                        else
                        {
                            <il>
                                <img class="img3" src="@imgSrc" alt="" height="250px" width="400px"></img>
                            </il>
                        }
                    }
                </ul>
            </div>
        </form>

        <div class="barraVermelha">.</div>

        <!-- Carrossel do Top Rank -->
        <p>Produtos Mais Curtidos</p>
        <form enctype="multipart/form-data">
            <div class="carrossel">
                <ul>
                    @foreach (var item in ViewBag.Rank)
                    {
                        var imgSrc = "";

                        if (item.imagem != null)
                        {
                            var base64 = Convert.ToBase64String(item.imagem);
                            imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

                            <il>
                                <img class="imagem" src="@imgSrc" alt="" height="250px" width="400px"></img>
                            </il>
                        }
                        else
                        {
                            <il>
                                <img class="imagem" src="@imgSrc" alt="" height="250px" width="380px"></img>
                            </il>
                        }
                    }
                </ul>
            </div>
        </form>


        <div class="subir text-center">
            <p>Preços</p>
            <form>
                <ul>
                    @foreach (var item in ViewBag.Rank)
                    {
                        <li>
                            @item.RESTANOME :
                            R$@item.RESTAPRECO.ToString("F")
                        </li>
                    }
                </ul>
            </form>
        </div>

        <p class="barra">Menu</p>



        <!-- Filtro Categorias -->


        <div class="dropdown text-center">

            <select style="text-transform: uppercase;" onchange="FiltroCategorias()" id="FiltroCategorias" class="btn btn-danger dropdown-toggle">

                <option onchange="FiltroCategorias()" value='Oferta do Dia'>Oferta do Dia</option>
                @foreach (var item in ViewBag.ListCategorias)
                {
                    <option onchange="FiltroCategorias()" value="@item.RESTACATEGORIA">@item.RESTACATEGORIA</option>
                }
            </select>
        </div>


        @{
            var Categorias = ViewBag.ListCategorias as IEnumerable<Projeto_Lunary.Models.Restaurante>;
        }

        <div>

            <div id="Categoria" class="Categoria"></div>

            <div class="semiprogress">
                <div class="progress" style="height: 2px; width: 160px;">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

        </div>





        <!-- Pratos -->
        <div>
            @{
                var imgDefault = "/Content/Menu/img/LogoLunary.png";
            }
            @foreach (var item in Model)
            {

                <!-- Conversão da img-->

                var imgSrc = "";


                if (item.imagem != null)
                {
                    var base64 = Convert.ToBase64String(item.imagem);
                    imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

                }
                else
                {
                    imgSrc = imgDefault;
                }

                <!-- Oferta do Dia-->


                string oferta = "";
                if (item.Oferta)
                {
                    oferta = "Oferta do Dia";
                }



                <div class="row pratos @item.RESTACATEGORIA @oferta">
                    <div class="col-lg-12">
                        <div class="img2">
                            <img class="img" src="@imgSrc" data-value="@item.RESTAUID" width="232" height="232">
                        </div>

                        <h3 class="text-center name">@item.RESTANOME</h3>

                        <!--Btn Coração-->
                        <div class="heart-btn">
                            <div class="content">
                                <form action="" method="post">
                                    <span onclick="Like(@item.RESTAUID)" class="heart" id="@item.RESTAUID"></span>

                                </form>
                                <div id="@item.RESTAUID-Curtidadiv">
                                    <span class="number" id="@item.RESTAUID-Curtida">@item.Curtidas</span>
                                </div>

                            </div>
                        </div>
                        <!--Exibindo Preço/Preço Promocional-->
                        <div>
                            @if (item.RESTAPREPROMOCAO > 0)
                            {
                                <div class="por">
                                    <p>POR</p>
                                </div>
                                <div class="de">
                                    <p>DE</p>
                                </div>
                                <p class="preco-normal">R$ @item.RESTAPRECO.ToString("F")</p>
                                <p class="preco-promocao">R$ @item.RESTAPREPROMOCAO.ToString("F")</p>

                            }
                            else
                            {
                                <p class="preco">R$ @item.RESTAPRECO.ToString("F")</p>
                            }
                        </div>
                    </div>
                </div>



            }

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="conteudoModal">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{



        <script src="~/Scripts/Menu/preloader.js"></script>
        <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
        <script>

            window.onload = () => {
                document.queryCommandIndeterm
                FiltroCategorias()
            }



        $(document).ready(function () {

            $(".img").click(function () {


                var id = $(this).data("value")
                console.log(id)

                $("#conteudoModal").load("/Restaurante/Detalhes/" + id,
                    function () {
                        $('#myModal').modal("show")
                    }
                );
            });

        });


        $(document).ready(function () {
        //Like
           
        });
        </script>
    }
</body>




