@model IEnumerable<Projeto_Lunary.Models.Restaurante>
@{
    ViewBag.Title = "Pratos";

}

<head onload="preloaderTime()">
    <link href="~/Content/Menu/Menu.css" rel="stylesheet" />
    <link href="~/Content/Menu/Preloader.css" rel="stylesheet" />
    <link href="~/Content/preco.css" rel="stylesheet" />
    <link href="~/Content/Menu/Campanha.css" rel="stylesheet" />
    <link href="~/Content/Menu/rank.css" rel="stylesheet" />
    <script src="~/Scripts/Menu/PreloaderTimer.js"></script>
    <script src="~/Scripts/Menu/ScrollToTop.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
    <script src="~/Scripts/Menu/ToggleTema.js"></script>
    <script src="~/Scripts/Menu/FilterCate.js"></script>
    <script src="~/Scripts/Menu/HeartClick.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body class="light">
    
    <!-- PRELOADER! -->
    <div id="preloader">
        <div class="inner">

            <div class="bolas">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- CONTENT -->
    <div id="Conteudo">
        
          <!-- Toggle Tema -->
        <input type="checkbox" id="toggle">
        <label onclick="Toggle()" class="toggle" for="toggle">
            <i class="bx bxs-sun"></i> <!--ícone do sol-->
            <i class="bx bx-moon"></i> <!--ícone da lua-->
            <span class="ball"></span> <!--ícone da bola que troca o modo da tela-->
        </label>
        <!-- Fim Toggle Tema -->


        <div id="progress">
            <span id="progress-value"><i class="glyphicon glyphicon-arrow-up"></i></span>
        </div>
        <h1 class="titulo">Lunary</h1>
        <p class="subtitulo">Cardápio</p>

        <!-- Carrossel das Campanhas -->
        <form enctype="multipart/form-data">
            <div class="campanhas" enctype="multipart/form-data">
                <ul>
                    @foreach (var item in ViewBag.Campanha)
                    {

                        var imgSrc = "";

                        if (item.CAMFOTO != null)
                        {
                            var base64 = Convert.ToBase64String(item.CAMFOTO);
                            imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

                            <il>
                                <img class="img3" src="@imgSrc" alt="" height="250px" width="400px"></img>
                            </il>
                        }
                    }
                </ul>
            </div>
        </form>
        <div class="barraVermelha">.</div>
        
        <!-- Rank Mais Curtidos -->
        <div class="curtidos">

            <box-icon name='bookmark-heart'></box-icon>
            <span class="material-icons" style="color: brown; position: absolute; top: 74.5%; left: 89%; transform: translate(-50% -50%);">
                favorite
            </span>
            <h3 class="curtir text-center" style="color:brown">Produtos Mais Curtidos</h3>
            <span class="material-icons" style="color: brown; position: absolute; top: 74.5%; left: 5%; transform: translate(-50% -50%);">
                favorite
            </span>

        </div>
        <form enctype="multipart/form-data">
            <div class="carrossel" id="carrosselsite">
                <ul>
                    @{
                        var imagens = 0;
                    }
                    @foreach (var item in ViewBag.Rank)
                    {
                        imagens += 1;

                        if (imagens >= 6)
                        {
                            break;

                        }
                        var imgSrc = "";

                        if (item.imagem != null)
                        {
                            var base64 = Convert.ToBase64String(item.imagem);
                            imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

                            <il>
                                <img class="imagem" src="@imgSrc" alt="" height="250px" width="400px"></img>
                            </il>
                        }
                    }
                </ul>

            </div>
        </form>

        <div class="subir text-center">
            <p>Preços</p>
            <form>
                <ul>
                    @{
                        var curtidas = 0;
                    }
                    @foreach (var item in ViewBag.Rank)
                    {
                        <li>
                            @item.RESTANOME :
                            R$@item.RESTAPRECO.ToString("F")
                        </li>

                        curtidas += 1;

                        if (curtidas >= 5)
                        {
                            break;

                        }

                    }
                </ul>
            </form>
        </div>
       <!-- Fim Rank Mais Curtidos -->

        <p class="barra">Menu</p>
        <!-- Filtro Categorias -->
        <div class="dropdown text-center">
            <select style="text-transform: uppercase;" onchange="FiltroCategorias()" id="FiltroCategorias" class="btn btn-danger dropdown-toggle">
                <option onchange="FiltroCategorias()" value='Oferta do Dia'>Oferta do Dia</option>
                @foreach (var item in ViewBag.ListCategorias)
                {
                    <option onchange="FiltroCategorias()" value="@item.RESTACATEGORIA">@item.RESTACATEGORIA</option>
                }
            </select>
        </div>
        @{
            var Categorias = ViewBag.ListCategorias as IEnumerable<Projeto_Lunary.Models.Restaurante>;
        }
        <div>
            <div id="Categoria" class="Categoria"></div>

            <div class="semiprogress">
                <div class="progress" style="height: 2px; width: 160px;">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <!-- Fim Filtro Categorias -->

        <!-- Pratos -->
            @{
                var imgDefault = "/Content/Menu/img/LogoLunary.png";
            }
            
            <!-- Oferta do Dia/Promoção -->
            <div>
                @foreach (var item in Model)
                {
                if ((item.Oferta && item.Disponibilidade) || (item.RESTAPREPROMOCAO > 0 && item.Disponibilidade))
                {

                    <!-- Conversão da img-->

                    var imgSrc = "";


                    if (item.imagem != null)
                    {
                        var base64 = Convert.ToBase64String(item.imagem);
                        imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

                    }
                    else
                    {
                        imgSrc = imgDefault;
                    }

                    <!-- Oferta do Dia-->


                    string oferta = "";
                    if (item.Oferta)
                    {
                        oferta = "Oferta do Dia";
                    }



                    <div class="row pratos @item.RESTACATEGORIA @oferta">
                        <div class="col-lg-12">
                            <div class="img2">
                                <img class="img" data-src="@imgSrc" data-value="@item.RESTAUID" width="232" height="232">
                            </div>

                            <h3 class="text-center name col-md-12">@item.RESTANOME</h3>

                            <!--Btn Coração-->
                            <div class="heart-btn">
                                <div class="content">
                                    <form action="" method="post">
                                        <span onclick="Like(@item.RESTAUID)" class="heart" id="@item.RESTAUID"></span>

                                    </form>
                                    <div id="@item.RESTAUID-Curtidadiv">
                                        <span class="number" id="@item.RESTAUID-Curtida">@item.Curtidas</span>
                                    </div>

                                </div>
                            </div>
                            <!--Exibindo Preço/Preço Promocional-->
                            <div>
                                @if (item.RESTAPREPROMOCAO != 0)
                                {
                                    <p class="preco-normal">R$ @item.RESTAPRECO.ToString("F")</p>
                                    <p class="preco-promocao">R$ @item.RESTAPREPROMOCAO.ToString("F")</p>

                                }
                                else
                                {
                                    <p class="preco">R$ @item.RESTAPRECO.ToString("F")</p>
                                }
                            </div>
                        </div>
                    </div>
                }
                }
            
            </div>
            <script>
                preloaderTime()
            </script>
            <!-- Padrão -->
            <div>
                @foreach (var item in Model)
                {
                if (item.Oferta == false && item.RESTAPREPROMOCAO == 0 && item.Disponibilidade)
                {
                    <!-- Conversão da img-->

                    var imgSrc = "";


                    if (item.imagem != null)
                    {
                        var base64 = Convert.ToBase64String(item.imagem);
                        imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

                    }
                    else
                    {
                        imgSrc = imgDefault;
                    }

                    <!-- Oferta do Dia-->


                    string oferta = "";
                    if (item.Oferta)
                    {
                        oferta = "Oferta do Dia";
                    }
                    <div class="row pratos @item.RESTACATEGORIA @oferta">
                        <div class="col-lg-12">
                            <div class="img2">
                                <img class="img" data-src="@imgSrc" data-value="@item.RESTAUID" width="232" height="232">
                            </div>

                            <h3 class="text-center name col-md-12">@item.RESTANOME</h3>

                            <!--Btn Coração-->
                            <div class="heart-btn">
                                <div class="content">
                                    <form action="" method="post">
                                        <span onclick="Like(@item.RESTAUID)" class="heart" id="@item.RESTAUID"></span>

                                    </form>
                                    <div id="@item.RESTAUID-Curtidadiv">
                                        <span class="number" id="@item.RESTAUID-Curtida">@item.Curtidas</span>
                                    </div>

                                </div>
                            </div>
                            <!--Exibindo Preço/Preço Promocional-->
                            <div>
                                @if (item.RESTAPREPROMOCAO != 0)
                                {

                                    <p class="preco-normal">R$ @item.RESTAPRECO.ToString("F")</p>
                                    <p class="preco-promocao">R$ @item.RESTAPREPROMOCAO.ToString("F")</p>

                                }
                                else
                                {
                                    <p class="preco">R$ @item.RESTAPRECO.ToString("F")</p>
                                }
                            </div>
                        </div>
                    </div>
                }
            
            <script>
                FiltroCategorias()
            </script>         
            }
            
            </div>

            <!-- Indisponivel -->
            <div>
                @foreach (var item in Model)
                {
                if (item.Disponibilidade == false)
                {

                    <!-- Conversão da img-->

                    var imgSrc = "";


                    if (item.imagem != null)
                    {
                        var base64 = Convert.ToBase64String(item.imagem);
                        imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);

                    }
                    else
                    {
                        imgSrc = imgDefault;
                    }

                    <!-- Oferta do Dia-->


                    string oferta = "";
                    if (item.Oferta)
                    {
                        oferta = "Oferta do Dia";
                    }



                    <div class="row pratos @item.RESTACATEGORIA @oferta">
                        <div class="col-lg-12">
                            <div class="img2-indisponivel ">
                                <img class="img" data-src="@imgSrc" data-value="@item.RESTAUID" width="232" height="232">
                            </div>

                            <h3 class="text-center name col-md-12">@item.RESTANOME</h3>

                            <!--Btn Coração-->
                            <div class="heart-btn">
                                <div class="content">
                                    <form action="" method="post">
                                        <span class="heart"></span>

                                    </form>
                                    <div id="@item.RESTAUID-Curtidadiv">
                                        <span class="number" id="@item.RESTAUID-Curtida">@item.Curtidas</span>
                                    </div>

                                </div>
                            </div>
                            <!--Exibindo Preço/Preço Promocional-->
                              <div>
                                  @if (item.RESTAPREPROMOCAO != 0)
                                  {
                                    <p class="preco-normal">R$ @item.RESTAPRECO.ToString("F")</p>
                                    <p class="preco-promocao">R$ @item.RESTAPREPROMOCAO.ToString("F")</p>
                                }
                                else
                                {
                                    <p class="preco">R$ @item.RESTAPRECO.ToString("F")</p>
                                }
                            </div>
                        </div>
                    </div>
                }
                }

            </div>
        </div><!-- Fechamento do Conteudo -->

        @*<div>
            @foreach (var item in Model)
            {
                @item.RESTAUID
                <img class="img" data-scr="/Content/Menu/img/LogoLunary.png" ></img>
            }
        </div>*@


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div id="conteudoModal">

                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts{
        <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
        
        <script>
                const myLazyLoad = new LazyLoad({
                    elements_selector: ".img"
                });
        </script>
        <script>
            window.onload = () => {
                document.queryCommandIndeterm
                FiltroCategorias()                
            }         
            $(document).ready(function () {
                $(".img").click(function () {
                    var id = $(this).data("value")
                    console.log(id)

                    $("#conteudoModal").load("/Restaurante/Detalhes/" + id,
                        function () {
                            $('#myModal').modal("show")
                        }
                    );
                });
            });
        </script>
    }
</body>