@model Projeto_Lunary.Models.Restaurante
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<div>
    <form action="/Admin/Editar?id=@Model.RESTAUID"  enctype="multipart/form-data"  method="post">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" maxlength="500" id="nome" name="nome" value="@Model.RESTANOME" required />
        <div>
            <label for="preco">Preço</label>
            <input type="text" class="form-control" id="" name="preco" step="0.010" value="@Model.RESTAPRECO" required />
        </div>
        <div>
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" id="" maxlength="500" name="descricao" value="@Model.RESTADESCRICAO" >
        </div>
        <div>
            <label for="precopromocao">Preço Promocional</label>
            <input type="text" class="form-control" id="precopromocao" step="0.010" name="precopromocao" value="@Model.RESTAPREPROMOCAO" >
        </div>
        <div>
            <br />
            <label for="categoria">Categoria: </label>
            <select id="categoria" name="categoria">
                @foreach (var item in ViewBag.listacategoria)
                {
                    if (@item.RESTACATEGORIA == Model.RESTACATEGORIA)
                    {
                        <option selected>@item.RESTACATEGORIA</option>
                    }
                    else
                    {
                        <option>@item.RESTACATEGORIA</option>
                    }

                }
            </select>
        </div>

        <div>
            <label for="imagem"></label>
            <input type="file" class="form-control"  id="" name="imagem" value=@Model.imagem>
            <td>
                @{
                    if (Model.imagem != null)
                    {
                        var base64 = Convert.ToBase64String(Model.imagem);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src='@imgSrc' style="max-width:300px; max-height:300px;" />
                    }
                }
            </td>
        </div>
        <br />
        <div>
            <a href="/Admin/Index"><button type="button" class="btn btn-primary">Voltar</button>  </a>
            <a href="/Admin/Index"><button type="submit" class="btn btn-success">Salvar</button>  </a>
        </div>

    </form>

</div>


