@model IPagedList<Projeto_Lunary.Models.Restaurante>
@{
    ViewBag.Title = "Pratos";

}

@using PagedList.Mvc;
@using PagedList;
<link href="~/Content/Admin/CRUD.css" rel="stylesheet" />

<body>
    <h2 class="h2-title text-center">Pratos</h2>
    
    <main>
        <table class="table table-striped thead-dark">
            <thead class="thead-cor">
                <tr>
                    <td class="text-center">Id</td>
                    <td class="text-center">Prato</td>
                    <td class="text-center">Preço</td>
                    <td class="text-center">Descrição</td>
                    <td class="text-center">Preço Promoção</td>
                    <td class="text-center">Categoria</td>
                    <br />
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </thead>
            <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RESTAUID</td>
                            <td>@item.RESTANOME</td>
                            <td>R$@item.RESTAPRECO.ToString("F")</td>
                            <td>@item.RESTADESCRICAO</td>
                            @if (@item.RESTAPREPROMOCAO != null)
                            {
                                <td class="text-center">
                                    R$ @item.RESTAPREPROMOCAO.ToString("F")
                                </td>
                            }
                            else
                            {
                                <td> </td>
                            }
                            <td>@item.RESTACATEGORIA</td>
                            <td>
                                @{
                                    var imgSrc = "";
                                    if (item.imagem != null)
                                    {
                                        var base64 = Convert.ToBase64String(item.imagem);
                                        imgSrc = String.Format("data:image/jpg/gif/png;base64,{0}", base64);
                                        <img class="img" src="@imgSrc" alt="@item.RESTANOME" width="100" height="100" />
                                    }
                                }
                            </td>

                            <td class="espaco-button">
                                <a href="/Admin/Editar?id=@item.RESTAUID"><button type="button" class="button-green">Editar</button></a>
                                <br />
                                <br />
                                <a href="/Admin/Excluir?id=@item.RESTAUID"><button type="button" class="button-red">Excluir</button></a>

                            </td>
                        </tr>


                    }
                }
            </tbody>
        </table>
        <div class="text-center">
            @Html.PagedListPager(Model, i => Url.Action("ListPratos", "Admin", new { i, procurar = Request.QueryString["procurar"] }))
        </div>

    </main>

</body>









